
/* Header Styling */
header {
    background-image: url(../images/Kiki_Perch_Extension.jpg);
    background-size: cover;
}

/* Box One Styling */

.box-one {
    display: block;
    background-color: #e75480;
    margin-left: 5rem;
    margin-right: 60rem;
    padding: 1.5;
}