
/* Header Styling */
header {
    background-image: url(../images/H_Kiki_Perch_.jpg);
    background-size: cover;
}

/* Main Content Styling */

main h2 {
    text-align: center;
}

.content {
    display: block;
}

/* Furry Friends Box Styling */
.furry-friends {
    display: block;
    background-color: rgba(231, 84, 128, 0.85);
    text-align: left;
    margin-left: 7rem;
    margin-right: 50rem;
    padding: .5rem 1rem .5rem 1rem;
}

.furry-friends h2 {
    text-align: center;
}

/* Announcements Box Styling */
.announcements {
    display: block;
    background-color: rgba(231, 84, 128, 0.85);
    text-align: left;
    margin-left: 90rem;
    margin-right: 7rem;
    padding: .5rem 1rem .5rem 1rem;
}

.announcements h2 {
    text-align: center;
}