/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    background-color: lavender;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
  }

  a:hover {
    text-decoration: underline;
  }
  
  /* || typography */
  
  h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
  }
  
  h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 6px black;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2.2rem;
  }
  
  p, li {
    font-size: 1.6rem;
  }
  
  /* || header layout */
  
  header {
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
  }
  
  main, header, nav, article, aside, footer, section {
    background-color: lightpink;
    padding: 0%;
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  header img {
    display: inline;
    text-align: center;
    height: 60px;
    padding-right: 20px;
  }
  
  nav {
    height: 70px;
    flex: 100%;
    display: flex;
    padding-bottom: 5px;
  }
  
  nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }
  
  /* || main layout */
  
  main {
    display: block;
  }

  main img {
    max-width: 100%;
  }

  .news-entry {
    padding-top: 25px;
    border: 5px;
    border-style: dotted;
  }
  
  article, section {
    flex: 4;
  }
  
  aside .left-pictures {
    display: flex;
    flex: 1;
    margin-left: 10px;
    padding: 1%;
  }

  aside .right-pictures {
    display: flex;
    flex: 1;
    margin-right: 10px;
    padding: 1%;
    padding-top: 10%;
  }
  
  aside img {
    max-width: 50%;
  }
  
  footer {
    margin-top: 10px;
  }