/* General Styling */

@font-face {
    font-family: kikiFont;
    src: url(../fonts/reef/Reef.otf);
}

html {
    font-size: 10px;
    font-family: kikiFont;
    background-color: #FFB8BF;
}

body {
    margin: 0px;
}

/* Sizing and Formatting */
/* 
    10px font established in the beginning and then all the specific areas of 
    the page specify their own size using rem to ensure the adaptability and 
    reusability of the code 
*/

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
}
  
h3 {
    font-size: 2.2rem;
}

p, li {
    font-size: 1.6rem;
}

a:hover {
    text-decoration: underline;
}

/* Header Styling */

header {
    padding-bottom: 20rem;
}

nav {
    height: 7rem;
    flex: 100%;
    display: flex;
    padding-bottom: .5rem;
  }
  
  nav ul {
    list-style-type: none;
    flex: auto;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }